@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <center>
        <img src="~/imgs/logo.png" />
    </center>
       
</div>

<div class="row">
    <center>
        <div class="col-md-4">

            <h2>Laptops</h2>
            <div class="ruleta" style="max-width:500px">
                <img class="lap" src="~/imgs/pc3.png" style="width:100%">
                <img class="lap" src="~/imgs/pc4.png" style="width:100%">

            </div>

        </div>
        <div class="col-md-4">
            <h2>Discos Duros</h2>
            <img class="dis" src="~/imgs/dis1.png" style="width:105%">
            <img class="dis" src="~/imgs/dis2.png" style="width:98%">

        </div>
        <div class="col-md-4">
            <h2>Impresoras</h2>
            <img class="imp" src="~/imgs/imp.png" style="width:100%">
            <img class="imp" src="~/imgs/imp2.png" style="width:91%">
            <br />
            <br />
            <br />
        </div>
        
    </center>
</div>
<div class="row">
    <center>

        <object>
            <iframe allowfullscreen="" frameborder="0" height="370" src="https://www.youtube.com/embed/JM38sUSUErU" width="580"> Video </iframe>
        </object>

    </center>
</div>

